{% extends "polls/base.html" %}

{% block script %}
<!--<script src="{{ STATIC_URL }}js/example_detail.js" type="text/javascript"></script>-->
{% endblock script %}

{% block css %}
<style>
#show{
	width:800px;
	text-align:center;
	margin:auto;
	display:block;
}

#show input{
	width:600px;
	background:#000;
	color:#dcdcdc;
	border-radius:10px;
	outline:none;
	padding:10px;
}

#preview{
	margin:auto;
	margin-top:40px;
}
</style>
{% endblock css %}
	
{% block content %}
<!--
<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{ poll.id }}/submit/" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
<div class="block_std">
    {{ forloop.counter }}&nbsp;<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label>
</div>
{% endfor %}
<br/>
<input type="submit" value="Vote" />
<p>{{ choice.choice }}</p>
</form>
-->
<!--<style>.block_std-options_cris{	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6e1e8), color-stop(1, #b6b7b8) );background:-moz-linear-gradient( center top, #d6e1e8 5%, #b6b7b8 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e1e8', endColorstr='#b6b7b8');background-color:#d6e1e8;border:1px solid #adadad;display:block;}</style>-->
<script id="generator_script_crispander" src="http://localhost:8000/render/poll/{{ poll.id }}/" type="text/javascript"></script>


<br />
<br />
<br />
<div id="show">
<h3>Embed - Instalación </h3>
<span>Incluya el codigo de abajo donde quiera que le aparezca el recuadro que previamente diseño, para que esto funcione correctamente lo unico que tiene que hacer de mas es agregar la libreria de jQuery en las etiquetas <b>HEAD</b> de su documento html</span><br />
<input type="text" width="200" value='<script id="generator_script_crispander" src="http://localhost:8000/render/poll/{{ poll.id }}/" type="text/javascript"></script>' >

<h3>Comparte tu encuesta en Facebook</h3>

</div>
<a href="/polls/">Back</a>
{% endblock content %}
