html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#dfdfdf;
}

#top{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 0;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width:96%;
	margin:auto;
	text-align:left;
	padding-left:20px;
}

#top #menu{
	float:right;
}

#top #menu a{
	margin:2px 7px 2px 0;
	padding:3px 8px;
	border-bottom:3px solid #A9B7C5;
	text-decoration:none;
	color:#253F5B;
	cursor:pointer;
}

#medium{
	font-family:calibry, arial;
	background-color:white;
	border:1px solid gray;
	width:95%;
	margin:auto;
	min-height:550px;
	font-family: calibri,verdana, arial;
}

#medium table{
	margin:auto;
	margin-top:20px;
}

#medium table table {
	margin-left:0px;
}

#medium table table td{
	padding:5px 20px;
}

#medium input[name=question]{
	border:1px solid #A65353;
	width:90%;
	padding:10px 5px;
	outline:none;
	font-size:1.2em;
}

#medium textarea[name=options]{
	border:1px solid #A65353;
	width:90%;
	height:80px;
	resize:none;
	padding:10px 5px;
	outline:none;
	font-size:1.2em;
}

#bottom{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0a0a0a), color-stop(1, #7d7d7d) );
	background:-moz-linear-gradient( center top, #0a0a0a 5%, #7d7d7d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#7d7d7d');
	background-color:#0a0a0a;
	border:1px solid #dcdcdc;
	display:block;
	color:white;
	font-family:Verdana;
	padding:10px 0;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	width:96%;
	margin:auto;
	height:300px;
	text-align:center;
}

#bottom table{
	margin-top:50px;
	color:white;
	font-family:calibri, verdana, arial;
}

.boton1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
}.boton1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.boton1:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#fondo, #borde, #subfondo, #font, #font_subblock, #gradient1, #gradient2{
	border:2px solid silver;
	width:40px;
	height:40px;
	display:inline-block;
	margin:10px;
	cursor:pointer;
	outline:none;
}

#fondo:focus, #borde:focus, #subfondo:focus, #font:focus, #font_subblock:focus, #gradient1:focus,  #gradient2:focus{
	border:2px solid #000;
}

#preview{
	border:13px solid #334232;
	background:#0f169c;
	width:300px;
	color:#ffffff;
	height:300px;
	margin:auto;
	margin-top:20px;
	position:relative;
	border-radius:3%;
	padding:6px;
}

#preview_question{
	width:80%;
	overflow:auto;
	margin:auto;
	margin-top:7px;
	font-size:19px;
}


#preview #name_app{
	display:block;
	position:absolute;
	padding:1px 5px;
	text-align:center;
	font-family:calibri, verdana, arial;
	bottom:3px;
	left:20%;
	width:60%;
	font-size:0.70em;
	background:#000;
	color:#FFF;
	cursor:pointer;
	border-radius:5px;
}

.button_crispander {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	margin:auto;
	width:50%;
	margin-top:10px;
	cursor:pointer;
	padding:3px 0;
	text-decoration:none;
	text-align:center;
}

#subblock{
	border:1px solid silver;
	width:80%;
	color:#000;
	margin:auto;
	background:#296580;
	height:69%;
	overflow:auto;
	font-size:12px;
}

#subblock textarea{
	display:block;
	width:90%;
	height:80%;
	resize:none;
	margin:auto;
}

#conf-borde, #conf-borde-radius{

}

#cargando{
	width:800px;
	text-align:center;
	margin:auto;
	display:none;
}

#show{
	width:800px;
	text-align:center;
	margin:auto;
	display:none;
}

#show input{
	width:600px;
	background:#000;
	color:#dcdcdc;
	border-radius:10px;
	outline:none;
	padding:10px;
}

/* button submit */

.button_submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:block;
	color:#306108;
	font-family:arial;
	font-size:42px;
	font-weight:bold;
	padding:0px 76px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	margin:auto;
	cursor:pointer;
}.button_submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.button_submit:active {
	position:relative;
	top:1px;
}


.block_std-options_cris small{
	float:right;
	margin-right:3px;
	font-size:12px;
	margin-left:3px;
}

.title_option{
	font-weight:bolder;
}