html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:silver;
}

#top{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 0;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width:96%;
	margin:auto;
	text-align:left;
	padding-left:20px;
}

#top #menu{
	float:right;
}

#top #menu a{
	margin:2px 7px 2px 0;
	padding:3px 8px;
	border-bottom:3px solid #A9B7C5;
	text-decoration:none;
	color:#253F5B;
	cursor:pointer;
}

#medium{
	font-family:calibry, arial;
	background-color:white;
	border:1px solid gray;
	width:95%;
	margin:auto;
	min-height:550px;
	font-family: 'Oswald', sans-serif;
	font-size:2em;
}

#medium table{
	margin:auto;
	font-size:1.3em;
	margin-top:20px;
}


#bottom{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0a0a0a), color-stop(1, #7d7d7d) );
	background:-moz-linear-gradient( center top, #0a0a0a 5%, #7d7d7d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#7d7d7d');
	background-color:#0a0a0a;
	border:1px solid #dcdcdc;
	display:block;
	color:#d6ced6;
	font-family:Verdana;
	padding:10px 0;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	width:96%;
	margin:auto;
	height:300px;
	text-align:center;
}


.boton1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
}.boton1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.boton1:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */