{% extends "polls/base.html" %}

{% block script %}
<link rel="canonical" href="http://www.generadorencuestas.com/polls/{{ poll.id }}" />
<script type="text/javascript">
var id_poll = '{{ poll.id }}';
var nombre = '{{ poll.question }}';
</script>
<script src="{{ STATIC_URL }}js/detail.js" type="text/javascript"></script>
{% endblock script %}

{% block css %}
<style>
#table_content{
	font-size:o.9em;
	font-family:calibri, verdana, arial;
}

textarea{
	width:400px;
	background:#000;
	color:#dcdcdc;
	outline:none;
	height:50px;
	padding:10px;
	resize:none;
}

#preview{
	margin:auto;
	margin-top:40px;
}
</style>
{% endblock css %}
	
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=419360901469098";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<table width="100%">
	<tr>
		<td width="10%">
			Anterior:<br />
		      <a href="/polls/{{ before.pk }}">{{ before.question }}</a>
		</td>
		
		<td width="80%">
			<script id="generator_script_crispander_{{ poll.id }}" src="http://wwww.generadorencuestas.com/render/poll/{{ poll.id }}/" type="text/javascript"></script>
		</td>
		
		<td width="10%">
			Siguiente: <br />
		        <a href="/polls/{{ after.pk }}">{{ after.question }}</a>
		</td>
	</tr>
</table>

<br />
<br />
<br />

<table width="100%"  cellspacing="30"  id="table_content">
<tr>
	<td width="20%">
		<h3>Compartir encuesta en Facebook</h3>
		<a onclick="login();" class="button_face"><img src="{{ STATIC_URL }}images/share-facebook.gif"></a>
	</td>
	<td width="30%">
		<h3>Embed <> Instalación </h3>
		<span>Incluya el código de abajo donde quiera que le aparezca el recuadro que se muestra en la parte de arriba, para que esto funcione correctamente lo único que tiene que hacer de mas es agregar la librería de jQuery en las etiquetas <b>HEAD</b> de su documento html</span><br /><br />
		<textarea><script id="generator_script_crispander_{{ poll.id }}" src="http://www.generadorencuestas.com/render/poll/{{ poll.id }}/" type="text/javascript"></script></textarea>
	</td>
	<td width="30%">
		<div class="fb-like" data-href="http://www.generadorencuestas.com/polls/{{ poll.id }}" data-layout="box_count" data-width="450" data-show-faces="true" data-font="arial"></div>
	
		<!-- google + -->
		<!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->
		<div href="http://www.generadorencuestas.com/polls/{{ poll.id }}" class="g-plusone" data-size="tall"></div>

		<!-- Inserta esta etiqueta después de la última etiqueta de Botón +1. -->
		<script type="text/javascript">
		  window.___gcfg = {lang: 'es'};

		  (function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<!-- button twitter tweet -->
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.generadorencuestas.com/polls/{{ poll.id }}" data-via="crispander" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	</td> 
	<td width="10%"> 
		<a href="/polls/" style="font-size:1.4em;">&larr;ATRAS</a>
		<br />
		<a href="/create/" style="font-size:1.4em;">&rarr;CREAR MI ENCUESTA</a>
	</td>
</tr>
<tr>
	<td colspan="4" align="center">
		<div class="fb-comments" data-href="https://www.generadorencuestas.com/polls/{{ poll.id }}" data-width="470" data-num-posts="10"></div>
	</td>
</tr>
</table>



{% endblock content %}
