<html>
<head>
	<title>Generador de encuestas en linea</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}css/form.css" type="text/css" rel="stylesheet">
	
	<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />-->
	<link href="{{ STATIC_URL }}css/color/colorpicker.css" type="text/css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/color/colorpicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
	
	<!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>
	<!-- documentation http://trentrichardson.com/examples/timepicker/ -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/datetimepicker.js"></script>
	<style id="degrade"></style>
	<style id="padding_options"></style>
	<script>
	var options_array = [];
	var type_poll = "radio";
	var id_poll = null;
	var estado_bold = true;
  
	$(document).ready(function(){
	$("#degrade").html(".block_std-options_cris{	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6e1e8), color-stop(1, #b6b7b8) );background:-moz-linear-gradient( center top, #d6e1e8 5%, #b6b7b8 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e1e8', endColorstr='#b6b7b8');background-color:#d6e1e8;border:1px solid #adadad;display:block;}");
	
		//fondo
		$("#fondo").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			//$("#fondo_val").val(hex);
			$("#fondo").css("background-color", "#"  + hex);
			//form
			$("#fondo_i_hidden").attr("value", "#"  + hex);
			$("#fondo").ColorPickerHide();
			
			$("#preview").css("background-color", "#"  + hex);
			
			},
		});
		
		//borde
		$("#borde").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			//$("#fondo_val").val(hex);
			$("#borde").css("background-color", "#"  + hex);
			//form
			$("#borde_i_hidden").attr("value", "#"  + hex);
			$("#borde").ColorPickerHide();
			
			$("#preview").css("border-color", "#"  + hex);
			},
		});
		
		//subfondo
		$("#subfondo").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			//$("#fondo_val").val(hex);
			$("#subfondo").css("background-color", "#"  + hex);
			//form
			$("#subfondo_i_hidden").attr("value", "#"  + hex);
			$("#subfondo").ColorPickerHide();
			
			$("#subblock").css("background-color", "#"  + hex);
			$("#subblock_results").css("background-color", "#"  + hex);
			},
		});
		
		//letra, fuente
		$("#font").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			//$("#fondo_val").val(hex);
			$("#font").css("background-color", "#"  + hex);
			//form
			$("#font_i_hidden").attr("value", "#"  + hex);
			$("#font").ColorPickerHide();
			
			$("#preview #subblock").css("color", "#"  + hex);
			$("#preview #subblock_results").css("color", "#"  + hex);
			},
		});
		
		//letra subblock
		$("#font_subblock").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			//$("#fondo_val").val(hex);
			$("#font_subblock").css("background-color", "#"  + hex);
			//form
			$("#font_subblock_i_hidden").attr("value", "#"  + hex);
			$("#font_subblock").ColorPickerHide();
			
			$("#preview").css("color", "#"  + hex);
			},
		});

		//gradient1
		$("#gradient1").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			$("#gradient1").css("background-color", "#"  + hex);
			$("#gradient1_i_hidden").attr("value", "#"  + hex);
			$("#gradient1").ColorPickerHide();
			other = $("#gradient2_i_hidden").attr("value");
			$("#degrade").html(".block_std-options_cris{ background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #"+ hex +"), color-stop(1, "+other+") );background:-moz-linear-gradient( center top, #"+ hex+" 5%, "+other+" 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#"+hex+"', endColorstr='"+other+"');background-color:#"+hex+";border:1px solid #adadad;display:block;}");
			//$("#degrade").html(".block_std-options_cris{ background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6e1e8), color-stop(1, #b6b7b8) );background:-moz-linear-gradient( center top, #d6e1e8 5%, #b6b7b8 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e1e8', endColorstr='#b6b7b8');background-color:#d6e1e8;border:1px solid #adadad;display:block;}");
			},
		});

		//gradient2
		$("#gradient2").ColorPicker({	
			onSubmit: function(hsb, hex, rgb, el) {
			$("#gradient2").css("background-color", "#"  + hex);
			$("#gradient2_i_hidden").attr("value", "#"  + hex);
			$("#gradient2").ColorPickerHide();
			other = $("#gradient1_i_hidden").attr("value");
			$("#degrade").html(".block_std-options_cris{ background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, "+other+"), color-stop(1, #"+ hex +") );background:-moz-linear-gradient( center top, "+other+" 5%, #"+ hex +" 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='"+other+"', endColorstr='#"+ hex +"');background-color:#d6e1e8;border:1px solid #adadad;display:block;}");
			
			},
		});

		//mostrar borde
		$("#visible_border").change(function(){
		if($(this).val() == "si"){
			$("#preview").css("border-style", "solid");
		}else{
			$("#preview").css("border-style", "none");
		}
		});
		
		//font style
		$("#type_font").change(function(){
			$("#preview").css("font-family", $(this).val());
		});
		
		//mostrar resultados de votaciones
		$("#mostrar_resultados").change(function(){
			if($(this).val() == "si"){
				$("#info_state_subblock").css("display", "block");
			}else{
				$("#info_state_subblock").css("display", "none");
			}
		});
		
		//mostrar resultados de votaciones
		$("#landscape").change(function(){
			load_options();
		});
		
		//mostrar pregunta
		$("#question").keyup(function(){
		value = $(this).val();
		$("#preview_question").html("¿ " + value + " ?");
		});
		$("#question").attr("value", "Escriba aqui la pregunta");
		
		//tipo de encuesta
		$("#type_poll").change(function(){
			type_poll = $(this).val();
			load_options()
		});
		
		//filtrar o mo por fecha
		$('#filter_dateclose').change(function(){
		    if($("#filter_dateclose").is(":checked")){
				$(".hidden_dateclose").css("display","block");
			}else{
				$(".hidden_dateclose").css("display","none");
			}
		});
		
		
		//alamcenar y mostrar opciones
		$("#mytextarea").keyup(function(){
			load_options();
		});
		
		$("#etiquetas").keyup(function(){
			
			val = $("#etiquetas").val();
			val = val.split(",")
			html = "";
			for(i=0;val.length>i;i++){
				html += " <a class='bl_etiquetas'>&raquo;&nbsp;"+ val[i] +"</a> ";
			}
			$("#content_etiquetas").html(html);
		});
		
		$("#mytextarea").html("ejemplo 1 \nejemplo 2");
		load_options();
		
		//padding
		$( "#slider-padding" ).slider({
		  range: "max",
		  min: 3,
		  max: 30,
		  value: 6,
		  slide: function( event, ui ) {
			$( "#padding" ).val( ui.value + "px" );
			$( "#preview" ).css("padding", ui.value + "px");
		  }
		});
		$( "#padding" ).val( $( "#slider-padding" ).slider( "value" ) + "px");
		
		//font-size
		$("#font_size_block").spinner({
			max: 30,
			min: 7,
			start: 12,
			change: set_font_block,
			stop: set_font_block
		});
		$("#font_size_title").spinner({
			max: 40,
			min: 7,
			start: 12,
			change: set_font_title,
			stop: set_font_title
		});
		
		
		//Inicizlizacion de valores predeterminados
		$("#fondo").css("background-color", "#0f169c");
			$("#fondo").ColorPickerSetColor("#0f169c");
			$("#fondo_i_hidden").attr("value", "#0f169c");
		$("#borde").css("background-color", "#334232");
			$("#borde").ColorPickerSetColor("#334232");
			$("#borde_i_hidden").attr("value", "#334232");
		$("#subfondo").css("background-color", "#296580");
			$("#subfondo").ColorPickerSetColor("#296580");
			$("#subfondo_i_hidden").attr("value", "#296580");
		$("#font").css("background-color", "#000");
			$("#font").ColorPickerSetColor("#000");
			$("#font_i_hidden").attr("value", "#000");
		$("#font_subblock").css("background-color", "#fff");
			$("#font_subblock").ColorPickerSetColor("#fff");
			$("#font_subblock_i_hidden").attr("value", "#fff");
		$("#gradient1").css("background-color", "#d6e1e8");
			$("#gradient1").ColorPickerSetColor("#d6e1e8");
			$("#gradient1_i_hidden").attr("value", "#d6e1e8");
		$("#gradient2").css("background-color", "#b6b7b8");
			$("#gradient2").ColorPickerSetColor("#b6b7b8");
			$("#gradient2_i_hidden").attr("value", "#b6b7b8");
		
	});
	
	$(function() {
	//js border
	    $( "#conf-borde" ).slider({
      range: "max",
	  min:0,
      max: 20,
      value: 13,
      slide: function(event, ui){
	  	$( "#border-width-input" ).val( ui.value + "px");
		$("#preview").css("border-width", ui.value + "px");
	  },
      });
	  $( "#border-width-input" ).val( $( "#conf-borde" ).slider( "value" ) + "px" );
	  
	 //js border radius
	  $( "#conf-borde-radius" ).slider({
      range: "max",
	  min:0,
      max: 15,
      value: 3,
      slide: function( event, ui ){
		$( "#border-radius-input" ).val( ui.value + "%");
		$("#preview").css("border-radius", ui.value  + "%" );
	  },
	  });
	  $( "#border-radius-input" ).val( $( "#conf-borde-radius" ).slider( "value" ) + "%");
	  
	  //js width
	  $( "#preview_width" ).slider({
      range: "max",
	  min:200,
      max: 900,
      value: 300,
      slide: function( event, ui ){
		$( "#preview_width_input" ).val( ui.value + "px");
		$("#preview").css("width", ui.value  + "px" );
	  },
	  });
	  $( "#preview_width_input" ).val( $( "#preview_width" ).slider( "value" ) + "px");
	  
	//js height
	  $( "#preview_height" ).slider({
      range: "max",
	  min:200,
      max: 600,
      value: 300,
      slide: function( event, ui ){
		$( "#preview_height_input" ).val( ui.value + "px");
		$("#preview").css("height", ui.value  + "px" );
	  },
	  });
	  $( "#preview_height_input" ).val( $( "#preview_height" ).slider( "value" ) + "px");
	  
	  //width subblock
	  $( "#slider_width_subblock" ).slider({
      range: "max",
	  min:10,
      max: 100,
      value: 80,
      slide: function( event, ui ){
		$( "#width_subblock" ).val( ui.value + "%");
		$("#preview #subblock").css("width", ui.value  + "%" );
		$("#preview #subblock_results").css("width", ui.value  + "%" );
	  },
	  });
	  $( "#width_subblock" ).val( $( "#slider_width_subblock" ).slider( "value" ) + "%");
	  
	 //height subblock
	  $( "#slider_height_subblock" ).slider({
      range: "max",
	  min:10,
      max: 76,
      value: 44,
      slide: function( event, ui ){
		$( "#height_subblock" ).val( ui.value + "%");
		$("#preview #subblock").css("height", ui.value  + "%" );
		$("#preview #subblock_results").css("height", ui.value  + "%" );
	  },
	  });
	  $( "#height_subblock" ).val( $( "#slider_height_subblock" ).slider( "value" ) + "%");
	  
	 //width subblock
	  $( "#slider_width_blocktitle" ).slider({
      range: "max",
	  min:10,
      max: 100,
      value: 80,
      slide: function( event, ui ){
		$( "#width_blocktitle" ).val( ui.value + "%");
		$("#preview #preview_question").css("width", ui.value  + "%" );
	  },
	  });
	  $( "#width_blocktitle" ).val( $( "#slider_width_blocktitle" ).slider( "value" ) + "%");
	  
	 //height subblock
	  $( "#slider_height_blocktitle" ).slider({
      range: "max",
	  min:10,
      max: 100,
      value: 10,
      slide: function( event, ui ){
		$( "#height_blocktitle" ).val( ui.value + "%");
		$("#preview #preview_question").css("height", ui.value  + "%" );
	  },
	  });
	  $( "#height_blocktitle" ).val( $( "#slider_height_blocktitle" ).slider( "value" ) + "%");
	  
	  
	 //padding opcions subblock
	  $( "#slider_block_std_options" ).slider({
      range: "max",
	  min:0,
      max: 40,
      value: 0,
      slide: function( event, ui ){
		$( "#block_std_options" ).val( ui.value + "px");
		$(".block_std-options_cris").css("padding", ui.value  + "px" );
		$("#padding_options").html(".block_std-options_cris{padding: "+ui.value+"px }");
	  },
	  });
	  $( "#block_std_options" ).val( $( "#slider_block_std_options" ).slider( "value" ) + "px");
	
	
	//dattepicker
	//$("#dateclose").datepicker();
	$('#dateclose').datetimepicker();
	
	$( "#tabs" ).tabs();
	$("div.ui-tabs-panel").css('padding','0px');
	$(".ui-widget").css('font-size','12px');
	
	});

	
	</script>
</head>
<body>
<div id="fb-root"></div>
<div id="main">
	<div id="top">
	<img src="{{ STATIC_URL }}images/logo_app.png" height="30" alt="generadoe encuestas en linea">
	
	<div id="menu">
		<a href="/">Inicio</a>
		<a style="border-bottom:3px solid #596169" href="/create/" >Generador</a>
		<a  href="/polls/" >Ejemplos</a>
		<a href="/contact">Contacto</a>
		<a href="/sobreapp">Sobre esta aplicación</a>
	</div>
	</div>
     {% csrf_token %}
	<div id="medium">
	
	<!-- preview -->
	<a id="dialog_preview">Mostrar en una ventana</a>
		<div id="content_preview">
			<div id="preview">
				<div id="content_etiquetas"></div>
				<div id="preview_question">¿Escriba aqui la pregunta?</div>
				<div id="subblock">
				
				
				</div>
				<div id="subblock_results">

				
				</div>
				<a class="button_crispander" >Enviar</a>
				<a onclick="toogle_subblocks();" id="info_state_subblock" >resultados</a><a id="name_app" href="/">&copy;Powered&nbsp;by&nbsp;crispander</a>
			</div>
		</div>
			
	<hr />		
	<!-- menu -->
	<div id="tabs">
		  <ul>
			<li><a href="#tabs-1">Basico</a></li>
			<li><a href="#tabs-6">General</a></li>
			<li><a href="#tabs-7">Bloque opciones</a></li>
			<li><a href="#tabs-4">Letra</a></li>
			<li><a href="#tabs-2">Borde</a></li>
			<li><a href="#tabs-5">Otros</a></li>
		  </ul>
	
		<div id="tabs-1">
			<!-- formulario inicio -->
		    <form id="formstdgenerator" onsubmit="return upload_configuration()">
		
			<table width="100%" cellspacing="0" style="margin:none">
				<tr >
				<td width="60%">
					<!-- Pregunta -->
					<label class="title_option">Pregunta: </label><br />
					
					<input type="text" name="question" id="question"><br />
					 <!-- opciones -->
				</td>
				<td width="60%" rowspan="3">
					<table width="90%">
						<tr>
							<td rowspan="3">
								<label class="title_option">Opciones </label>
								<textarea rows="8" cols="60" name="options" id="mytextarea"></textarea><br />
								<small>Esta es la forma rapida de añadir opciones despues de escribir una solo oprima el boton ENTER para iniciar otra.</small>
							</td>
							<td>
								<a id="create-image">Imagen</a>
							</td>
						</tr>
						<tr>
							<td>
								<a id="create-br">salto de linea</a>
							</td>
						</tr>
						<tr>
							<td>
								<a id="create-b"><b style="font-size:0.5em;">N</b></a>
							</td>
						</tr>
					</table>
				</td>
				</tr>
				
				<tr >
					<td width="40%">
						<label class="title_option">Tipo: </label><br />
						<select id="type_poll" name="type_poll">
						<option value="radio">Mulitple con unica respuesta</option>
						<option value="checkbox">Mulitple con multiple respuesta</option>
						<!--<option value="textarea">Libre</option>-->
						</select>
					</td>
				</tr>
				
				<tr>
					<td width="40%">
						<label class="title_option">Etiquetas: </label>&nbsp;
						<input type="text" id="etiquetas" name="etiquetas" /><br />
						<small>Escriba las etiquetas separadas por coma ejm. carros, deportes, maquillaje</small>
					</td>
				</tr>
		    </table>
		</div>
		
		<div id="tabs-2">
		<table width="90%" cellspacing="30">
			<tr>
				<td>
						<label for="visible_border" class="title_option">Borde visible</label><br />
						<select id="visible_border" name="borde_visible">
						<option value="si">Si</option>
						<option value="no">No</option>
						</select>
				</td>
				<td>
					<div   id="borde" title="borde"></div>
					<input type="hidden" id="borde_i_hidden" name="borde" />
					<label class="title_option">Color Borde</label>
				</td>
				<td>
				<!-- grosor de el borde -->
					<p>
					  <label for="border-width-input" class="title_option">Ancho del borde:</label>
					  <input type="text" name="border_width" id="border-width-input" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
					</p>
					<div id="conf-borde"></div>
				</td>
				<td>
				<!-- border readius -->	
						<p>
						  <label for="border-radius-input" class="title_option">Esquinas:</label>
						  <input type="text" name="border_radius" id="border-radius-input" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
						</p>
						<div id="conf-borde-radius"></div> 
				</td>
			</tr>
		</table>
		</div>	
		
		<div id="tabs-4">
					
			<table width="100%">
				<tr>
					<td>
						<!-- boton para incrementar el tamaño de la letra del titulo -->
						<label for="font_size_title" class="title_option">Tamaño letra titulo</label><br />
						<input type="text" value="19" id="font_size_title" />
						<input type="hidden" name="font_size_title" value="19" />
					</td>
					<td>
						<!-- boton para incrrementar el tamaño del boton del bloque opciones -->
						<label for="font_size_block" class="title_option">Tamaño letra bloque</label><br />
						<input type="text" name="font_size_block" value="12" id="font_size_block" />
						<input type="hidden" name="font_size_block" value="12" />
					</td>
					<td>
						<label for="type_font" class="title_option">Tipo de Letra</label><br />
						<select id="type_font" name="font_style">
						<option value="Times New Roman">Times New Roman</option>
						<option value="Georgia">Georgia</option>
						<option value="Serif">Serif</option>
						<option value="arial">Arial</option>
						<option value="helvetica">Helvetica</option>
						<option value="calibri" selected>Calibri</option>
						<option value="verdana">Verdana</option>
						<option value="trebuchet ms">Trebuchet MS</option>
						</select>
					</td>
		
					<!-- ancho bloque de la question -->	
					<td>
						<p>
						  <label for="width_blocktitle" class="title_option">Centrar titulo:</label>
						  <input type="text" id="width_blocktitle" name="width_blocktitle" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
						</p>
						<div id="slider_width_blocktitle"></div>
					</td>
				</tr>
				<tr>
					<td>
                        <div  id="font_subblock" title="letra titulo"></div>
						<input type="hidden" id="font_subblock_i_hidden" name="font_subblock" />
					   <label for="font_subblock" class="title_option">Color letra del titulo</label>
					</td>
					<td>
						<div  id="font" title="letra bloque"></div>
						<input type="hidden" id="font_i_hidden" name="font" />
					    <label for="font" class="title_option">Color letra opciones</label>
					</td>
			<!-- height bloque de la question -->	
					<td>
						<p>
						  <label for="height_blocktitle" class="title_option">Espacio pregunta y opciones:</label>
						  <input type="text" id="height_blocktitle" name="height_blocktitle" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
						</p>
						<div id="slider_height_blocktitle"></div>
					</td>
				</tr>
			</table>
	</div>

	<div id="tabs-5">
	    <table width="100%">
				<tr>
					<td>
						<label for="mostrar_resultados" class="title_option">Mostrar resultados</label><br />
						<select id="mostrar_resultados" name="mostrar_resultados">
						<option value="si">Si</option>
						<option value="no">No</option>
						<option value="after">Mostrar despues de votar</option>
						<option value="app">Mostrar resultados en el sitio</option>
						</select>
					</td>
					<td>
						<label for="number_votes" class="title_option">votar mas de una vez</label><br />
						<select id="number_votes" name="number_votes">
						<option value="si">Si</option>
						<option value="no">No</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="dateclose" class="title_option">Fecha de cierre</label><br />
						<input type="checkbox" id="filter_dateclose" value="yes" name="filter_dateclose" />
						<div class="hidden_dateclose">
							<input type="text" id="dateclose"  name="dateclose" />
						</div>
					</td>
				</tr>
		</table>
	</div>
	
	<div id="tabs-6">

			<table width="100%" cellspacing="30">
				<tr>
				<td>
					<!-- color fondo -->
					<div id="fondo" title="fondo"></div>
					<input type="hidden" id="fondo_i_hidden" name="fondo" />
					 <label class="title_option">Color Fondo:</label>
				</td>
				<!-- ancho -->
				    <td >
						<p>
						  <label for="border-width-input" class="title_option">Ancho:</label>
						  <input type="text" name="width" id="preview_width_input" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
						</p>
						<div id="preview_width"></div>
					</td>
				<!-- alto -->		
					<td > 			
						<p>
						  <label for="preview_height_input" class="title_option">Alto:</label>
						  <input type="text" name="height" id="preview_height_input" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
						</p>
						<div id="preview_height"></div>
					</td>
				
					<!-- padding -->
					<td>
					<p>
					  <label for="padding" class="title_option">padding:</label>
					  <input type="text" id="padding" name="padding" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
					</p>
					<div id="slider-padding"></div>
					</td>
					
					<td>
						<label for="mostrar_resultados" class="title_option">opciones ¿horizontal o vertical?</label><br />
						<select id="landscape" name="landscape">
						<option value="h" selected="selected">Horizontal</option>
						<option value="v" >vertical</option>
						</select>
					</td>
				</tr>
			</table>
	</div>
	
	<div id="tabs-7">
	<table width="100%" cellspacing="30"> 
		<tr>
			<td>
			<div  id="subfondo" title="subfondo"></div>
			<input type="hidden" id="subfondo_i_hidden" name="subfondo" />
			Color subfondo: 
			</td>
			
			<td>
			<div  id="gradient1" title="gradient 1"></div>
			<input type="hidden" id="gradient1_i_hidden" name="gradient1" />
			Color gradiente 1
			</td>
			
			<td>
			<div  id="gradient2" title="gradient 2"></div>
			<input type="hidden" id="gradient2_i_hidden" name="gradient2" />
			Color gradiente 1
			</td>
			
		    <!-- width subblock -->	
			<td>
			<p>
			  <label for="width_subblock" class="title_option">Ancho bloque Central:</label>
			  <input type="text" id="width_subblock" name="width_subblock" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
			</p>
			<div id="slider_width_subblock"></div>
			</td>
			
		    <!-- padding subblock espacio entre bloques -->	
			<td>
				<p>
				  <label for="padding_block_std_optionss" class="title_option">Espacio en bloques Opciones:</label>
				  <input type="text" id="block_std_options" name="block_std_options" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
				</p>
				<div id="slider_block_std_options"></div>
			</td>
					
					
		<!-- height subblock -->	
			<td>
				<p>
				  <label for="height_subblock" class="title_option">Alto bloque central:</label>
				  <input type="text" id="height_subblock" name="height_subblock" style="border: 0; color: #f6931f; font-weight: bold;width:60px;" />
				</p>
				<div id="slider_height_subblock"></div>
			</td>
			</tr>
		</table>
	</div>
	
	</div>
	
	<!-- cuadro de dialogo para generar una imagen-->
		<div id="dialog-form" title="ingresar Imagen">
		  <p class="validateTips">El campo de abajo es obligatorio.</p>
		 
		  <form>
		  <fieldset>
			<label for="imagen">Imagen</label>
			<input type="text" name="imagen" id="imagen_input" class="text ui-widget-content ui-corner-all" />
			
			<p>
			  <label for="form_image_input" class="title_option">Alto:</label>
			  <input type="text" name="height" id="form_image_input" style="border: 0; color: #f6931f; font-weight: bold;width:80px;" />
			</p>
			<div id="slider_form_image_input"></div>
								
		  </fieldset>
		  </form>
		  
		  <div id="preview_image">
		  
		  </div>
		</div>
	
	
	<!-- cuadro de dialogo para mostrar en preview en un bloque que desplaze-->
		<div id="dialog-form-preview" title="vista previa">
			hola mundo
		</div>
		
	<BR />
	<button onclick="upload_configuration()" type="submit" class="button_submit">GENERAR ENCUESTA</button>
</form>

<br />
<div id="cargando">  <img src="{{ STATIC_URL }}images/ajax.gif" alt="cargando" /></div>
<div id="show">
<h3>Comparte tu encuesta en Facebook</h3>

<a onclick="login();" class="button_face"><img src="{{ STATIC_URL }}images/share-facebook.gif"></a>
<br/>
<a id="go_see" href="#">Ir a ver mi encuesta Generada</a>
<h3>Embed - Instalación </h3>
<span>Incluya el codigo de abajo donde quiera que le aparezca el recuadro que previamente diseño, para que esto funcione correctamente lo unico que tiene que hacer de mas es agregar la libreria de jQuery en las etiquetas <b>HEAD</b> de su documento html</span><br />
<input type="text" width="200">

</div>

</div>


<div id="bottom">
	powered by EncuestasSociales
	<table width="1000"  cellspacing="20" align="center">
		<tr>
			<td width="350" align="left">
				<h3>Opciones</h3>
				<ul>
					<li>Sobre esta aplicación</li>
					<li>Donaciones</li>
					<li>Inicio</li>
					<li>Generador de encuestas</li>
					<li>Encuestas creadas</li>
					<li>Las mas votadas</li>
					<li>Contacto</li>
				</ul>
			</td >
			<td width="350" align="left">
				<h3>Links relacionados</h3>
				<ul>
					<li>Poll</li>
					<li>www.fleet.com</li>
					<li>Ubicarme mi pagina en estas secciòn</li>
				</ul>
			</td>
			<td width="300">
				<div class="fb-like" data-href="http://www.generadorencuestas.com" data-layout="box_count" data-width="450" data-show-faces="true" data-font="arial"></div>
			
				<!-- google + -->
				<!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->
				<div href="http://www.generadorencuestas.com" class="g-plusone" data-size="tall"></div>

				<!-- Inserta esta etiqueta después de la última etiqueta de Botón +1. -->
				<script type="text/javascript">
				  window.___gcfg = {lang: 'es'};

				  (function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				
				<!-- button twitter tweet -->
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.generadorencuestas.com" data-via="crispander" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
			</td>
		</tr>
	</table>
</div>
</div>
</body>
</html>
