<html>
<head>
	<title>Generador de encuestas en linea</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}css/home.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="main">
	<div id="top">
	Generador de Encuestas en linea.
	<div id="menu">
		<a style="border-bottom:3px solid #596169" href="/">Inicio</a>
		<a href="/create/" >Generador</a>
		<a href="/polls/" >Ejemplos</a>
		<a href="#">Contacto</a>
		<a href="#">Sobre esta aplicación</a>
	</div>
	</div>

	<div id="medium">
	<table  width="80%">
	<tr>
		<td width="50%">Generador de encuestas en linea, solo oprime el boton de abajo para empezar.</td>
		<td rowspan="2"><img src="{{ STATIC_URL}}images/muestra.png" width="500"></td>
	</tr>
	<tr>
		<td>
			<br />
			<br />
			<a href="/create/" class="boton1">Ingresar</a>
		</td>
	</tr>
	</table>
	
	</div>


	<div id="bottom">
		powered by crispander
	</div>
</div>
</body>
</html>
