{% extends "polls/base.html" %}
{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
{% endblock css %}
	

<div id="contenedor_principal">
	<h3>Muro de encuestas generadas</h3> 
	<div>
		<input type="text" name="fieldcampodearch" />
	</div>
    <div id="content">
	   {% for poll in polls %}
			<div class="block_std"><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a>
			<small><span>Fecha : </span>{{ poll.pub_date }}</small>
			<p><span>Total votos : </span>{{ poll.votes_ultimate }}</p>
			</div>
		{% endfor %}
    </div>
	<div id="footer">
    <label>powered by EncuestasSociales</label>
	</div>
	<br>
	
	<div>
		1 | 2 | 2 | 3 | 4 | 5 | 6 mas ...
	</div>
</div>

{% endblock %}


